<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title; %></title>
</head>
<body>
<a href="<%= locals.url; %>">Back to Products</a>
<%- include("./partials/storePartial.ejs") %>
<br>
<% if (locals.items) { %>
    <% items.forEach( item => { %>
        <div>
            <div><%= item.item_name%></div>
            <div>Price: $<%= item.item_price %></div>
        </div>
    <% }) %>
<% } %>
</body>
</html>